@import "tailwindcss";

.google_font{
    font-family: "Google Sans Flex", system-ui, sans-serif;
    font-weight: 500;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  animation: marquee 18s linear infinite;
}

.marquee:hover .marquee-track {
  animation-play-state: paused;
}
